video {
object-fit: cover;
width: 100%;
height: 100%;
position: fixed;
z-index: -1;
}

.formularz input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}


.Filtry {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Filtry select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.Filtry select:focus {
    outline: none;
    border-color: #333;
}

.tabelacss {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    color: #fff;
  }
  
  .tabelacss th, .tabelacss td {
    text-align: left;
    padding: 10px;
    background-color: #242424;
  }
  
  .tabelacss th {
    font-size: 20px;
  }
  
  .tabelacss td {
    font-size: 18px;
  }
  
  .tabelacss thead {
    border-bottom: 5px solid #fff;
  }

.datawybor{
    margin-top: 0px;
    gap: 10px;
    margin-bottom: 15px;
    background-color: #242424;
    color: #fff;
}


.rezervacja-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 20px;
  }
  
  .cards-wrapper {
    flex: 1;
    margin-right: 20px;
  }
  
  .vehicle-details {
    flex: 1;
    background-color: #242424;
    align-items: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
  }

  .vehicle-details .datawybor {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    font-size: 16px; 
  }

  .vehicle-details .btn {
    width: 100%; 
  }

  .vehicle-details h2 {
    font-size: 20px;
  }

.kontener{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.kontener> h1{
    color: #fff;
    font-size:  50px;
    margin-top: 0px;
}

.hero-btns{
    margin-top: 0px;
    align-items: center;
}
.hero-btns .btn{
    margin:6px;
}
.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px){
    .kontener > h1 {
        font-size: 35px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px){
    .kontener > h1 {
        font-size: 30px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px){
    .kontener > h1 {
        font-size: 25px;
        margin-top: 15px;
    }

.btn-moblie{
    display: block;
    text-decoration: none;
}

.btn{
    width: 100%;
}



}

/* Platność */

/* Platnosc.css */

.platnosc-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form-container {
  margin-bottom: 20px;
  margin-right: 100px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

label {
  margin-top: 10px;
  color: white; /* Ustawienie koloru tekstu na biały */
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 15px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  color: white; /* Ustawienie koloru tekstu na biały */
}


/* Wypozyczenia  */


.tabelacss {
  width: 80%; /* Dostosuj szerokość tabeli według potrzeb */
  margin: auto; /* Wyśrodkowanie tabeli na stronie */
  border-collapse: collapse;
}

.tabelacss th, .tabelacss td {
  border: 1px solid #ddd; /* Dodaj obramowanie dla komórek */
  padding: 8px; /* Dodaj odstęp wewnątrz komórek */
  text-align: center; /* Wyśrodkuj tekst w komórkach */
}

.tabelacss th {
  background-color: black; /* Kolor tła dla nagłówków */
}
